@model IEnumerable<CProject.Models.ShoppingCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Материалы в корзине</h1>

<form asp-action="СonfirmPurchase" method="post">
    <input type="submit" class="btn btn-success" value="Оформить заказ"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Цена
            </th>
            <th>
                ID фирмы
            </th>
            <th>
                Номер секции
            </th>
            <th>
                Номер ячейки
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellNumber)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить товар</a>
                    
                </td>
            </tr>
        }

    </tbody>
</table>
