@model IEnumerable<CProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Список материалов</h1>

<form>
    <label>Поиск по Id: </label>
    <div class="form-group">
        <input type="number" name="Id" placeholder="Id" />
        <input type="submit" value="Поиск" />
    </div>
</form>

<form>
    <div class="form-row">

        <div class="form-group col-auto">
            <label>Поиск по наименованию: </label>
            <input type="text" name="name" placeholder="Name" />
        </div>

        <div class="form-group col-auto">
            <label>Поиск по статусу: </label>
            <select name="status" asp-items="ViewBag.StatusId"></select>
            <button type="submit" class="btn btn-success">Поиск</button>
        </div>
    </div>
</form>
</table>

@if (User.IsInRole("Storekeeper") || User.IsInRole("Director"))
{
    <input type="button" class="btn btn-primary" value="Добавить" onclick="location.href='@Url.Action("Create", "Product")'" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Наименование
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена
            </th>
            <th>
                Фирма
            </th>
            <th>
                Номер секции
            </th>
            <th>
                Номер ячейки
            </th>
            <th>
                Текущее состояние
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @if (User.IsInRole("Logistician") || User.IsInRole("Wholesaler") || User.IsInRole("Director") || User.IsInRole("Storekeeper"))
                {

                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить </a> @:|

                    <a asp-action="Details" asp-route-id="@item.Id">Информация </a>@:|

                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить </a>
                }
            <td>
                @if (User.IsInRole("Wholesaler") || User.IsInRole("Director"))
                {
                    <form asp-action="AddToShoppingCart" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-primary">Добавить в заказ</button>
                    </form>
                }
            </td>
        </tr>
        }
    </tbody>
</table>